a
    text-decoration none
    color inherit
    transition color .3s

p
    line-height 1.5

body
    border-top 2px solid $cinza
    background $img('bg-accordacademy.png') no-repeat center top #EBEDEE
    background-attachment fixed
    +below($tablet)
        background-image none
