.aulas
    h1
        lato 36 light
        color $cinza
        margin 0 0 36px
        line-height 1.2
    .aulas-aviso
        p
            margin 0 0 2em
            lato 16
            color $cinza
            +mobile()
                margin-bottom 1.4em
                font-size 15px
    .aulas-lista a
        display flex
        width 100%
        max-width 780px
        &:hover .aula-texto h2
            color $laranja
        + a
            margin-top 60px
    .aula-capa
        position relative
        margin-right 82px
        img
            display block
        .numero
            display block
            position absolute
            width 113px
            height 109px
            background $img('numeracao-videos.png') no-repeat center
            top 0
            right -55px
            padding-top 37px
            span
                display block
                width 100%
                text-align center
                lato 28 bold
                color #fff
    .aula-texto
        padding-top 22px
        h2
            margin 0
            lato 24
            color $cinza
            transition color .3s
        p
            lato 15
            color $cinza
            margin 10px 0 0
        h3
            padding-top 16px
            margin-top 40px
            display block
            position relative
            lato 14
            font-style italic
            color $cinza
            &:before
                content ''
                position absolute
                width 100px
                height 1px
                background $laranja
                top 0
                left 0
    .wrapper
        width 100%
        max-width 780px
    .aula-descricao
        display flex
        margin-top 15px
        +mobile()
            display block
    .palestrante-foto
        width 180px
        height 190px
        flex 0 0 180px
        margin-right 40px
        background $img('bg-palestrante.png') no-repeat center
        position relative
        img
            position absolute
            border-radius 50%
            top 29px
            left 30px
        +mobile()
            transform scale(.7)
            transform-origin top left
            margin 0 0 -45px
    .aula-quiz
        margin-top 70px
        +mobile()
            margin-top 40px
        h4
            color $laranja
            lato 14
            padding-bottom 16px
            border-bottom 1px solid $laranja
            margin 0
        p
            lato 16
            color $cinza
            +mobile()
                font-size 15px
        .aula-questao
            position relative
            padding 30px 0
            padding-left 56px
            border-bottom 1px solid $laranja
            +mobile()
                padding-top 20px
                padding-bottom 20px
            > span
                position absolute
                left 0
                top 25px
                display block
                background $cinza
                color #fff
                lato 20 bold
                text-align center
                width 40px
                height 40px
                border-radius 50%
                line-height 38px
                +mobile()
                    top 15px
            p
                lato 18 bold
                color $cinza
                margin 0 0 1em
                +mobile()
                    font-size 16px
                    margin-top 2px
            label
                display block
                padding-left 25px
                position relative
                min-height 20px
                cursor pointer
                lato 18
                color $cinza
                +mobile()
                    font-size 15px
                &.selecao
                    font-weight bold
                    color $cinza !important
                    .custom-radio:after
                        opacity 1
                        background $cinza
                &.correta
                    color $laranja !important
                    font-weight bold
                    .custom-radio:after
                        opacity 1
                        background $laranja !important
                + label
                    margin-top 8px
                input
                    position absolute
                    opacity 0
                    height 0
                    width 0
                .custom-radio
                    position absolute
                    width 18px
                    height 18px
                    left 0
                    top 1px
                    border 2px solid $laranja
                    border-radius 100%
                    &:after
                        content ''
                        position absolute
                        left 50%
                        top 50%
                        width 8px
                        height 8px
                        transform translate(-50%, -50%)
                        background $laranja
                        opacity 0
                        transition opacity .3s
                        border-radius 100%
                input:checked ~ .custom-radio:after
                    opacity 1
            button
                display inline-block
                border 1px solid $cinza
                lato 14 bold
                color $cinza
                padding 8px 16px
                cursor pointer
                background none
                outline 0
                margin-top 1em
                &.certo
                &.errado
                    cursor default
                &.certo
                    background $laranja
                    border 1px solid $laranja
                    color #fff
                &.errado
                    background $cinza
                    color #fff
            &.respondida label
                cursor default !important
    +below($tablet)
        .aula-capa img
            width 280px
            height auto
    +mobile()
        h1
            font-size 30px
            margin 0 0 24px
        .aulas-lista a
            display block
            + a
                margin-top 35px
        .aula-capa
            max-width 280px
            width calc('100% - 58px')
            img
                width 100%
        .aula-texto
            padding-top 12px
            h2
                font-size 20px
            h3
                margin-top 25px

.video-wrapper + .aula
    padding-top 30px

.aula + .aula-forum
    margin-top 30px
    max-width 815px

.aula
    clearfix()
    .wrapper
        width (780 / 1200) * 100%;
        float left;
    .aula-forum
        width (390 / 1200) * 100%;
        float right
    +tablet()
        .wrapper
            width 60%
        .aula-forum
            width calc('40% - 30px')
    +below(1000px)
        .wrapper
        .aula-forum
            width 100%
            float left
        .aula-forum
            margin-top 30px
    +mobile()
        .aula-forum
            padding 20px

.aula-forum
    background #fff
    padding 30px
    h3
        lato 16
        color $laranja
        margin 0
        + p
            lato 12
            margin .5em 0 1em
    textarea
        width 100%
        border 1px solid #ccc
        display block
        resize none
        height 78px
        margin-bottom 5px
        outline 0
        lato 13
        color #444
        padding 10px
    input[type=submit]
        display inline-block
        background $laranja
        color #fff
        lato 12 bold
        padding 6px 24px
        border 0
        outline 0
        cursor pointer
        transition background .3s
        &:hover
            background lighten($laranja, 5)
    a
        lato 13
        color #666
        margin-left 6px
        &:hover
            color #333
    #form-duvida-response
        display none
        border 1px solid $laranja
        border-radius 3px
        padding 12px
        lato 12 bold
        color $laranja
        text-transform uppercase
        text-align center
        margin-top 5px
    .duvidas
        margin-top 25px
        > a
            display block
            margin-top 25px
            text-align center
            lato 14
            color $laranja
            transition color .3s
            &:hover
                color $vermelho
                span
                    &:before
                    &:after
                        background $vermelho
            span
                position relative
                padding-right 12px
                &:before
                &:after
                    content ''
                    position absolute
                    background $laranja
                &:before
                    width 1px
                    height 9px
                    top 50%
                    right 0
                    margin-top -5px
                &:after
                    width 9px
                    height 1px
                    top calc('50% - 1px')
                    right -4px
    .duvida
        border-bottom 1px solid $laranja
        padding 0 0 20px
        clearfix()
        &:first-child
            border-top 1px solid $laranja
        .dados
            display inline-block
            background #EBEDEE
            lato 12
            float right
            padding 4px 8px
            text-align right
        p
            margin 0
            lato 16
            float left
            width 100%
            display block
            margin-top .6em
            +mobile()
                font-size 15px
            &.resposta
                color $laranja
                font-weight bold
                margin-top .3em

.aula-forum .pagination
    list-style-type none
    padding 30px 0 0
    margin 0
    text-align center
    font-size 0
    li
        display inline-block
        lato 13
        color #666
        &.disabled
            opacity .7
            cursor default
        &.active span
            color $laranja
            font-weight bold
            border-color $laranja
    a
    span
        display inline-block
        border 1px solid #ddd
        padding 5px 8px
        margin 0 2px
    +mobile()
        display flex
        justify-content space-between
        padding-top 20px
        li
            display none
            a
            span
                font-size 20px
                line-height 22px
                padding 0
                height 28px
                width 28px
            &:first-child
                display inline-block
            &:last-child
                display inline-block
