.certificado
    .wrapper
        max-width 870px
    h1
        lato 36 light
        color $cinza
        margin 0 0 .35em
    p
        lato 17
        color $cinza
        margin 0 0 4em
    .certificado-aula
        display flex
        + .certificado-aula
            margin-top 100px
        .numero
            flex-shrink 0
            display block
            width 113px
            height 109px
            background $img('numeracao-videos.png') no-repeat center
            padding-top 37px
            margin-right 25px
            span
                display block
                width 100%
                text-align center
                lato 28 bold
                color #fff
        .texto
            h4
                lato 16
                color $laranja
                margin 0 0 .5em
            h3
                lato 24 bold
                color $cinza
                margin 0
            p
                lato 14
                color $cinza
                text-transform uppercase
                position relative
                margin-top 18px
                margin-bottom 0
                padding-top 18px
                &:before
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100px
                    height 1px
                    background $laranja
                &.invalido
                    color $laranja
            a
                display inline-block
                margin-top 18px
                background $laranja
                lato 20
                color #fff
                padding 16px 44px
                transition background .3s
                &:hover
                    background lighten($laranja, 5)
    +mobile()
        h1
            font-size 30px
            margin 0 0 24px
        p
            font-size 16px
            margin-bottom 2em
        .certificado-aula
            .numero
                display none
            + .certificado-aula
                margin-top 40px
            .texto
                h3
                    font-size 18px
                p
                    margin-top 12px
                    padding-top 12px
                a
                    margin-top 12px
                    font-size 18px
                    padding 14px 24px
