.palestrantes
    h1
        lato 36 light
        color $cinza
        margin 0 0 44px
        line-height 1.2
    .wrapper
        display flex
        flex-wrap wrap
        justify-content space-between
        margin-bottom -70px
        + h1
            margin-top 70px
    .palestrante
        width calc('50% - 25px')
        display flex
        margin-bottom 70px
    .palestrante-foto
        width 180px
        height 190px
        flex 0 0 180px
        margin-right 24px
        background $img('bg-palestrante.png') no-repeat center
        position relative
        img
            position absolute
            border-radius 50%
            top 29px
            left 30px
    .palestrante-texto
        padding-top 40px
        h3
            display block
            lato 24
            color $cinza
            margin 0 0 18px
            padding-bottom 18px
            position relative
            text-transform uppercase
            &:after
                content ''
                position absolute
                left 0
                bottom 0
                width 100px
                height 1px
                background $laranja
        p
            lato 16
            color $cinza
            margin 0
    +below($tablet)
        .palestrante
            display block
            .palestrante-foto
                margin 0 0 20px
            .palestrante-texto
                padding-top 0
    +mobile()
        h1
            font-size 30px
            margin 0 0 24px
        .wrapper
            display block
            margin-bottom -40px
        .palestrante
            width 100%
            margin-bottom 40px
        .palestrante-texto
            h3
                font-size 20px
